
body, html {
    font-family: cursive;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
   justify-content: left;
   height: auto;
   width: auto;
   align-items: center;
    height: 100vh;
    background-image:url(bg1.png) ;
    background-size:cover;
}


.login-container {
    max-width: 400px;
    width: 100%;
    margin-left: 4rem;
    padding: 40px;
    background-color: #77777755; /* Changed to light gray */
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container h1 {
    margin-top: 10px;
    font-size: 2rem; /* Increased font size */
    color: #000000;
    margin-bottom: 10px;
    font-style:italic;
    font-family:cursive ;
}

.login-container .subtitle {
    font-size: 1rem; /* Increased font size */
    color: #777;
    margin-bottom: 50px;
}

.login-container label {
    display: block;
    font-size: 15px;
    color: #555;
    margin: 20px 0 8px;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    transition: border 0.5s;
    font-family: cursive;
}

.login-container input:focus {
    border-color: #51a2db;
    outline:none;
    
}

.login-container input:hover {
    border-color: #4c86af; 
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #4c86af;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: cursive;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #185c8c;
    color: #000000;
}

.forgot-password {
    margin-top: 20px;
    font-size: 14px;
    color: #4c86af;
    cursor: pointer;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #000000;
}
